<div class="stretch">

<h1>New Referral</h1>
<h2>Group Together Common By Giving Each Group A Nickname</h2>

 <%= render 'form', rolodex: @rolodex %>
<br><br><br><br><br><br><br><br><br><br><br><br>
</div>