<div class="stretch">

<h1>New Referral</h1>
<h2>Describe The Direction Of Your Neighbor: Above, Below, Side (to the side of you)</h2>

 <%= render 'form', rolodex: @rolodex %>
<br><br><br><br><br><br><br><br><br><br><br><br>
</div>