<div class="stretch">

<h1>New Referral</h1>

<% if @rolodex.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @rolodex.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      <br><br></ul>
    </div>
  <% end %>

<h2>Please Describe The Direction Of Your Neighbor<br><br>
 Above = Floor Above You<br> 
 Below = Floor Below You<br>
 Side = Ajoining Apartment Or House On Your Street</h2>

 <%= render 'form', rolodex: @rolodex %>
<br><br><br><br><br><br><br><br><br><br><br><br>
</div>