<div class="stretch">
<h1>You DO Have Access To This Page</h1>
<h2>Here's a gif of a baby elephant</h2>
<img src="http://i.imgur.com/49uBzb0.gif"><br><br>
<%= link_to "Back To Communities", communities_path %>



</div>