<div class="stretch">

<h1>All Referrals (index)</h1>

<ul><% @referrals.each do |person| %>
    <li><%= person.ref_first_name %></li>
    <li><%= person.ref_last_name %></li>

 <% end %></ul>


</div>