<div class="stretch">

<h1>A single referral</h1>

<%= @referral.id %><br><br>

<% if @referral.ref_first_name.blank? %>
<p>You're shooting blanks </p><br>
<% else %>
<p>Something else is da matter %></p><br><br>
<% end %>


</div>