<div class="stretch">

<h1 class="communityName"><%= @community.community_name %></h1>
<h1 class="communityAddress"><%= @community.community_address %></h1>



<a href="#" class="js-next" data-id="<%=@community.id%>">Next Community</a>



<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/communities/" + nextId + ".json", function(data) {
      $(".communityName").text(data["community_name"]);
      $(".communityAddress").text(data["community_address"]);
      // reset the id to the new current id
      $(".js-next").attr("data-id", data["id"]);
    });
    return false;
  });
});
</script>

<br><br><br><br><br><br><br><br><br>

  <%= button_to "Join This Community", user_in_it_path(@user, :community_id => @community.id), :class => 'altbtn altbtn-lg altbtn-outline', method: 'post' %><br><br><br>


</div>